statuses/*
target/*
/twitter4j.properties
twitter4j-httpclient-support/target/*
twitter4j-media-support/target/*
twitter4j-all/target/*
twitter4j-core/target/*
twitter4j-core/src/test/resources/xauth-test.properties
twitter4j-core/src/test/resources/sitestream-test.properties
twitter4j-core/src/test/resources/test.properties
twitter4j-appengine/src/test/resources/twitter4j.properties
twitter4j-appengine/target/*
twitter4j-stream/target/*
twitter4j-stream/src/test/resources/test.properties
twitter4j-stream/src/test/resources/sitestream-test.properties
twitter4j-async/target/*
twitter4j-async/src/test/resources/test.properties
twitter4j-media-support/src/test/resources/twitter4j.properties
twitter4j-httpclient-support/src/test/resources/twitter4j.properties
twitter4j-examples/src/main/resources/twitter4j.properties
twitter4j-examples/target/*
.DS_Store
~$*
.classpath
.project
.settings
reports/*
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
.idea/*
