target/*
twitter4j-httpclient-support/target/*
twitter4j-core/target/*
twitter4j-core/src/test/resources/xauth-test.properties
twitter4j-examples/target/*
.DS_Store
~$*
.classpath
.project
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
